<div class="section-banner">
    <h2>POKEMONS SECTION</h2>
</div>


<ul class="pokemon-list">
    <li *ngFor="let item of listOfData" class="card" (click)="onViewPokemonInfo(item?.species?.name)">
        <div class="card-body">
            <img [src]="item?.sprites?.front_default" alt="">
        </div>
        <div class="card-footer">
            <p class="card-title">
                {{item?.species?.name}}
            </p>
        </div>
    </li>
</ul>

<div class="button-group d-flex align-items-center justify-content-center">
    <a [routerLink]="['/pokemon']" routerLinkActive="router-link-active" class="btn btn-primary">See more</a>
</div>

<view-pokemon-detail [pokemonName]="pokemonName" [isVisible]="isVisiblePokemonDetail" (onCloseInfo)="onClosePokemonInfo()"></view-pokemon-detail>