/* You can add global styles to this file, and also import other style files */

*,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .content-wrapper {
        background-color: #f9f9f9;
    }
}

.section-banner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-common {
    padding: 50px 15%;
}

.pagination {
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    .item-per-page {
        display: flex;
        align-items: center;
        margin-left: 20px;
        span {
            font-size: 15px;
            font-style: italic;
        }
        nz-select {
            width: 100px;
            margin-left: 20px;
        }
    }
}


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */

@import "~ngx-bootstrap/datepicker/bs-datepicker";