/* You can add global styles to this file, and also import other style files */

*,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .content-wrapper {
        background-color: #f9f9f9;
    }
}

.section-banner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
